<%= form_for(@aplicacion) do |f| %>
  <% if @aplicacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aplicacion.errors.count, "error") %> prohibited this aplicacion from being saved:</h2>

      <ul>
      <% @aplicacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_camara %><br />
    <%= f.text_field :nombre_camara %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :ubicacion %><br />
    <%= f.text_field :ubicacion %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br />
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :numero_de_serie %><br />
    <%= f.text_field :numero_de_serie %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
